<div class="navbar">

    <div *ngIf="role=='none'" class="transparent-button-wrapper">
        <button [routerLink]="['register']" class="tranparentBtn" mat-flat-button >Register</button>
    </div>
    
    <div *ngIf="role=='none'" class="dark-orange-button-wrapper">
        <button [routerLink]="['login']" class="orangeBtn" mat-flat-button >Log in</button>
    </div>

    <div *ngIf="role!='none'" class="transparent-button-wrapper">
        <button class="tranparentBtn" [routerLink]="['/home']" mat-flat-button>Home</button>
    </div>

    <!-- <div *ngIf="role!='none'" class="transparent-button-wrapper">
        <button [routerLink]="['profile']" [queryParams]="{title: 'My profile'}" class="tranparentBtn" mat-flat-button >Profile</button>
    </div> -->
    
    <div *ngIf="role=='admin'" class="transparent-button-wrapper">
        <button [routerLink]="['upload']" class="tranparentBtn" mat-flat-button >Upload</button>
    </div>

    <div *ngIf="role=='viewer' "class="transparent-button-wrapper">
        <button [routerLink]="['feed']" class="tranparentBtn" mat-flat-button >My feed</button>
    </div>

    <div *ngIf="role=='viewer'" class="transparent-button-wrapper">
        <button [routerLink]="['subs']" class="tranparentBtn" mat-flat-button >My subscriptions</button>
    </div>

    <div *ngIf="role!='none'" class="dark-orange-button-wrapper">
        <button (click)="logout()" class="orangeBtn" mat-flat-button >Log out</button>
    </div>
</div>
