<h2 class="subtitle">Top picks for you...</h2>
<div class="container">
    <div class="film-card" *ngFor="let film of films">
        <mat-card [routerLink]="'/film/' + film.filmId">
          <mat-card-header>
            <mat-card-title *ngIf="!film.isSeries">{{ film.title }}</mat-card-title>
            <mat-card-title *ngIf="film.isSeries">{{ film.series }}</mat-card-title>
            <mat-card-subtitle *ngIf="film.isSeries">Series</mat-card-subtitle>
            <mat-card-subtitle *ngIf="!film.isSeries">Film</mat-card-subtitle>
          </mat-card-header>
          <div class="data">
            Genres:
            <div class="item" *ngFor="let g of film.genres">{{g}}</div>
          </div>
          <div class="data">
            Director(s):
            <div class="item" *ngFor="let d of film.directors">*{{d}} </div>
          </div>
          <div class="data">
            Actors:
            <div class="item" *ngFor="let a of film.actors">
              *{{a}}
            </div>
            
          </div>
        </mat-card>
    </div>
</div>